<div id="info-modal" class="modal" ng-controller="InfoCtrl">

    <ion-header-bar class="bar bar-header" ng-class="'bar-'+settings.theme">
        <h1 class="title">Info</h1>
        <button class="button button-clear" ng-click="closeInfo()">Close</button>
    </ion-header-bar>

    <ion-content has-header="true">
        <div class="padding">

            <div class="list">

                <div class="item item-divider">
                    Memory Game
                </div>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-social-github"></i> Version #1.0
                </a>

                <div class="item item-divider">
                    Developer
                </div>
                <div class="item">
                    <p>Spieler Technoogies LLP</p>
                </div>
                <a class="item item-icon-left" href="http://www.spielerglobal.com/">
                    <i class="icon ion-home"></i> www.spielerglobal.com
                </a>

                <div class="item item-divider">
                    Inspired by:
                </div>
                <span class="item">Copyright 2018 Spieler Technologies LLP.<br>
				http://www.spielerglobal.com/<br></span>

            </div>

        </div>
    </ion-content>

</div>